h3 {
    color: green;
    text-decoration-line: underline;
}

ul {
    list-style-type: square;
}

#cell2 {
    color: coral;
}

.table-cell {
    background-color: black;
    color: white;
}

#box-model {
    background-color: green;
    width: 300px;
    border: 25px solid grey;
    padding: 25px;
    margin: 50px;
}